.wrapPlay {
  width: 280px;
  height: 480px;
  border-radius: 20px;
  background: var(--backgroundColor);
  margin: auto;
  position: relative;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 150%;
  color: #f0f0f0;
}

.wrapTop {
  width: 100%;
  height: 300px;
  border-radius: 0px 0px 140px 140px;
  background-image: url();
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: var(--blendColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  -webkit-box-shadow: var(--shadow2);
  -moz-box-shadow: var(--shadow2);
  box-shadow: var(--shadow2);
}

.wrapTop h1 {
  width: 70%;
  font-size: 16px;
  text-align: center;
  line-height: 130%;
  margin: 5px;
}

.wrapTop h4 {
  position: absolute;
  bottom: -15px;
  left: 15px;
  font-size: 14px;
}

.wrapTop h5 {
  position: absolute;
  bottom: -15px;
  right: 15px;
  font-size: 14px;
}

.topControl {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topControl h2 {
  margin: 0px 20px;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 1px;
}

.topControl h3 {
  margin: 0px 20px;
  font-size: 10px;
  cursor: pointer;
}

.buttonBack {
  margin: 0px 20px;
  width: 8px;
  height: 8px;
  background-image: url(https://images2.imgbox.com/d2/8d/Qb2VS7Q9_o.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.bottomPlay {
  width: 100%;
  height: 160px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bottomPlay h1 {
  font-size: 22px;
  margin-top: 3px;
}

.bottomPlay h2 {
  font-size: 12px;
  margin-bottom: 0px;
  opacity: 0.9;
}

.controlPlay {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonPreview {
  width: 17px;
  height: 17px;
  background-image: url(https://images2.imgbox.com/b9/ef/Ejbb3lwf_o.png);
  background-size: cover;
  background-position: center;
  filter: var(--filter);
  cursor: pointer;
}

.buttonNext {
  width: 17px;
  height: 17px;
  background-image: url(https://images2.imgbox.com/99/9d/A4NX1qSG_o.png);
  background-size: cover;
  background-position: center;
  filter: var(--filter);
  cursor: pointer;
}

.buttonPlay {
  width: 30px;
  height: 30px;
  background-image: url(https://images2.imgbox.com/0e/ff/0aqRMP7a_o.png);
  background-size: cover;
  background-position: center;
  filter: var(--filter);
  cursor: pointer;
}

.pausePlay {
  background-image: url(https://images2.imgbox.com/ab/37/jWOAZru1_o.png);
}

.buttonPlay:focus {
  outline: 0;
}

.bottonOn {
  background-color: var(--blendColor);
}

.fadePlay {
  opacity: 0.5;
  cursor: default;
}

.buttonShuffle {
  width: 20px;
  height: 20px;
  border: 1px var(--blendColor) solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttonShuffle::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(https://images2.imgbox.com/c6/38/D1rFx071_o.png);
  background-size: cover;
  background-position: center;
  filter: var(--filter);
}

.buttonShuffle.bottonOn:after,
.buttonRepeat.bottonOn:after {
  filter: invert(0%) sepia(90%) saturate(7500%) hue-rotate(58deg)
    brightness(89%) contrast(95%);
}

.buttonRepeat {
  width: 20px;
  height: 20px;
  border: 1px var(--blendColor) solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttonRepeat::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(https://images2.imgbox.com/50/65/MNUzcBVC_o.png);
  background-size: cover;
  background-position: center;
  filter: var(--filter);
}
